---
import AstroButton from "./AstroButton.astro";
const { description, level, href, cta, heading } = Astro.props;
const Heading = `h${level}`;
---

<section class="stack card">
  <div class="img">
    <img src="/" alt="" width="90" height="90" />
  </div>
  <Heading>
    {heading}
  </Heading>
  <div class="description">
    {description}
  </div>
  <AstroButton href={href} cta={cta} style={"bg-indigo-900"} />
</section>

<style>
  section {
    max-width: 250px;
    text-align: center;
    align-items: center;
    padding-block: var(--paddingBlock, var(--space-s));
    padding-inline: var(--paddingInline, var(--space-s));
    box-shadow: 0 0 2em var(--clr-400);
    align-self: stretch;
  }

  .img {
    background-color: var(--clr-400);
    border-radius: 9999px;
  }

  .description {
    margin-block-end: auto;
  }
</style>
